/* Estilos personales */
*{
  margin: 0;
  padding: 0;
 /* border: 1px solid green; */
}

header {
  color: white;
  text-align: center;
  background-image: url("../img/variedades-de-cerveza.jpg");
  padding: 1px;
  border-bottom:7px inset orangered;
  border-top:4px inset orangered;
}

header h1 {
  font-size: 4em;
  padding: 0;
}

header ul {
  list-style-type: none;
  background-color: rgba(210, 105, 30, 0.438);
}

header li {
  display:inline;
  padding: 3px;
  color: rgb(255, 106, 0);
  border-right:4px inset chocolate;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
}

header a:hover {
  font-weight:bolder;
}

section {
  margin: 5px 10%;
  background-color: rgba(210, 105, 30, 0.192);
  border: 4px inset rgb(255, 106, 0);
  -moz-border-radius: 9px;
  -webkit-border-radius:9px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section > h1 {
  padding: 10px;
  text-align: center;
  font-weight:700;
}

ul.detalle {
  list-style-type: none;
  text-align: center;
  padding-bottom: 10px;
}

ul.detalle li, ul.detalle a {
  display:inline;
  color: rgb(48, 48, 48);
  font-size: 20px;
}

section nav li {
  font-weight:bolder;
}

section li > a{
  font-weight:normal;
}

section > .bloc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  padding: 15px;
  column-gap: 0;
}

section > .bloc .boxtitul {
  grid-column: 1 / 5;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid orange;
}

section > .bloc .boxtitul > p {
  margin: 0 9% 0 9%;
}


section > .bloc .boxesquerra {
  grid-column: 1 / 3;
  margin: auto 5px auto 10%;
  padding: 5%;
  align-items: center;
}

section > .bloc .boxesquerra > h2 {
  text-align: center;
}

section > .bloc .boxesquerra ul, section > .bloc .boxesquerra ol {
  padding-left: 20px;
  font-size: 16px;
}

section > .bloc .boxdreta {
  grid-column: 3 / 5;
  margin: auto 0;
  align-items: center;
  padding-top: 5px;
}

section > .bloc .boxsepara {
  grid-column: 1 / 5;
  height: 2px;
  margin: 10px 60px;
  background-color: orange;
}

section p, section blockquote{
  padding: 5px;
  text-align: justify;
  font-size: 17px;
  font-family:Sans-serif;
}

.boxdreta img, .boxdreta iframe{
  width: 100%;
  max-height: 300px;
  object-fit:scale-down;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 4px;
  background-color: rgba(210, 105, 30, 0.192);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*
@supports(object-fit: cover){
  .boxdreta img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}*/

section img.imgenlace {
  display:block;
  margin:auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

cite.textencima a{
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.726);
  color: white;
  position:relative;
  top: -10px;
  left: 10px;
}

footer {
  
  height: 60px;
  margin-top: 20px;

  padding: 10px;
  text-align: center;
  line-height: 15px;
  font-size: 12px;

  background-color: rgb(0, 0, 0);
  color: rgb(148, 148, 148);
  border-bottom:4px inset orangered;
  border-top:7px inset orangered;

  width: auto;
  bottom: 0;
  position: static;
}

/* Imagen ampliada Javascript*/

.amplia.accion {
  display: inline-block;
  position:fixed;
  margin-right: 10%;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.amplia.accion::after {
  top: 0;
  left: 0;
  margin: 0;
  content: '';
  position:absolute;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.658);
}

.accion > img {
  padding: 0;
  height: auto;
  max-height: 90vh;
  min-height: auto;
  width: 100%;
  max-width: 80vw;
  min-width: auto;
  margin: 30px;
  object-fit:contain;
  align-items: center;
  z-index: 1;
  background-color: rgba(238, 176, 132, 0.411);
}

.accion cite.textencima a{
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.726);
  color: white;
  position:absolute;
  top: 90%;
  left: 20%;
  z-index: 2;
}


/* responsive  */

@media (max-width: 768px) {
  section > .bloc .boxdreta, section > .bloc .boxesquerra, section > .bloc .boxtitul > p {
    grid-column: 1 / 5;
    margin: 0;
    padding: 0;
  }
  section {
    margin: 0;
  }
  section p, section blockquote, section > .bloc .boxesquerra ul, section > .bloc .boxesquerra ol{
    font-size: 10px;
  }
  h2, h1, ul.detalle li, ul.detalle a{
    font-size: 15px;
  }
  header h1{
    font-size: 20px;
  }
  footer {
    height: auto;
  }
}