/* ------------------------------------------- Estilos Generales --------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: chartreuse 0.1px solid; */
}
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap);

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  color: rgb(23, 23, 23);
  min-height: 100vh;
  font-size: 16px;
}
@media (max-width: 600px) {
  body {
    line-height: 1.4;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  body {
    line-height: 1.2;
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  body {
    line-height: 1;
    font-size: 10px;
  }
}

/* ------------------------------------------- Estilos Generales --------------------------------- */
body > header {
  color: white;
  text-align: center;
  background-image: url(../img/variedades-de-cerveza.jpg);
  padding: 1px;
  border-bottom: 7px inset orangered;
  border-top: 4px inset orangered;
}
@media 
  (min-width: 500px),
  (-webkit-min-device-pixel-ratio: 1), 
  (min-resolution: 192dpi) {
  .img {
    background-image: url(../img/variedades-de-cerveza-480.jpg);
  }
}
.header::before,
.header::after {
  background-image: url(../img/logocara.svg);
  background-size: 90px 90px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 90px;
  height: 90px;
  content: "";
}
.header2 {
  display: inline-block;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.37);
}
@media (max-width: 600px) {
  .header::before,
  .header::after {
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    margin: auto;
  }
}
@media (max-width: 480px) {
  .header::before {
    background-size: 50px 50px;
    display: block;
    width: 50px;
    height: 50px;
  }
  .header::after {
    content: none;
  }
}
@media (max-width: 320px) {
  .header::before {
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
  }
}

/* ------------------------------------------- Estilos Pie de página --------------------------------- */
body > footer {
  display: block;
  width: 100%;
  bottom: initial;

  margin-top: 20px;

  padding: 10px;
  text-align: center;
  font-size: 0.7em;

  background-color: rgb(0, 0, 0);
  color: rgb(148, 148, 148);
  border-bottom: 4px inset orangered;
  border-top: 7px inset orangered;
}

body > footer nav ul {
  list-style-type: none;
  background-color: rgba(210, 105, 30, 0.438);
}

body > footer nav li {
  display: inline;
  padding: 3px;
  color: rgb(255, 106, 0);
  border-right: 4px inset chocolate;
}

body > footer nav a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
}

body > footer nav a:hover {
  font-weight: bolder;
  font-size: 1.7em;
}

body > footer .activa a {
  font-size: 1.5em;
}
body > footer nav a:hover::before,
footer a:hover::after {
  background-image: url(../img/logocara.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
}

/* ------------------------------------------- Estilos Cuerpo --------------------------------- */
body > main {
  padding: 20px;
  box-sizing: border-box;
  align-items: center;

}
body > main section {
  margin: 5px 5vw;
  background-color: rgba(210, 105, 30, 0.192);
  border: 4px inset rgb(255, 106, 0);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
}
body > main h2 {
  padding: 10px;
  text-align: center;
  font-weight: 700;
}
body > main h3 {
  text-align: center;
  font-weight: 600;
}

ul.detalle {
  list-style-type: none;
  text-align: center;
  padding-bottom: 10px;
}

ul.detalle li,
ul.detalle a {
  display: inline;
  color: rgb(48, 48, 48);
  font-size: 1.15em;
}

section nav li {
  font-weight: bolder;
}

section li > a {
  font-weight: normal;
}

section > .bloc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  column-gap: 0;
}

section > .bloc .boxtitul {
  grid-column: 1 / 5;
  text-align: center;
  padding: 5px;
  border-bottom: 2px solid orange;
}

section > .bloc .boxtitul > p {
  margin: 0 9% 0 9%;
}

section > .bloc .boxesquerra {
  grid-column: 1 / 3;
  margin: auto 5px auto 0;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

section > .bloc .boxesquerra > h2 {
  text-align: center;
}

section > .bloc .boxesquerra ul,
section > .bloc .boxesquerra ol {
  padding-left: 20px;
  overflow: hidden;
}

section > .bloc .boxdreta {
  grid-column: 3 / 5;
  margin: auto 0;
  align-items: center;
  padding-top: 5px;
}

section > .bloc .boxsepara {
  grid-column: 1 / 5;
  height: 2px;
  margin: 10px 60px;
  background-color: orange;
}

section > .bloc .boxcentre {
  grid-column: 1 / 5;
}

section p,
section blockquote {
  padding: 5px;
  font-family: Sans-serif;
}

.boxdreta .imgdreta {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: scale-down;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 4px;
  background-color: rgba(210, 105, 30, 0.192);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  max-width: 90vw;
  object-fit: contain;
  display: block;
}
.boxdreta iframe {
  width: 100%;
  height: auto;
  min-height: 250px;
  max-height: 500px;
  object-fit: scale-down;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 4px;
  background-color: rgba(210, 105, 30, 0.192);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
}

.boxdreta figure {
  display: inline-block;
  width: 40%;
  margin: 10px 3.5%;
}

.boxdreta figure .imgdretasec {
  position: relative;
  display: inline-block;
  width: 100%;
  max-height: 300px;
  object-fit: scale-down;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 4px;
  background-color: rgba(210, 105, 30, 0.192);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

cite.textencimasec a {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.726);
  color: white;
  position: relative;
  top: -10px;
  left: 10px;
}

/*
@supports(object-fit: cover){
  .boxdreta img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}*/

section img.imgenlace {
  height: 200px;
  display: block;
  margin: auto;
  border-radius: 4px;
  background-color: rgba(210, 105, 30, 0.192);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  max-width: 100%;
  object-fit: contain;
}

cite.textencima a {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.726);
  color: white;
  position: relative;
  top: -10px;
  left: 10px;
}

section > .bloc .boxcentre ul li {
  display: inline-table;
  align-items: center;
  margin: 5px 1.3%;
  text-align: center;
  list-style-type: none;
  border: black 1px solid;
  border-radius: 10px;
  box-shadow: 5px 4px #888888;
  background-color: rgba(210, 105, 30, 0.192);
  width: 30%;
  height: 20vw;
}

section > .bloc .boxcentre a {
  color: black;
  font-weight: bolder;
  text-align: center;
  align-items: center;
}
section > .bloc .boxcentre a:hover {
  font-size: 1.2em;
}
section > .bloc .boxcentre .imgredu {
  display: block;
  width: auto;
  max-width: 20vw;
  height: 18vw;
  object-fit: scale-down;
  align-items: center;
  justify-content: center;
  margin: 2px auto;
  overflow-x: hidden;
}

@media (max-width: 1000px) {
  section > .bloc .boxesquerra { padding-left: 0px; }
}

@media (max-width: 800px) {
  body > main section { margin: 0; }
  section > .bloc .boxdreta {
    grid-column: 1 / 5;
    margin-bottom: 15px;
  }

  section > .bloc .boxesquerra {
    grid-column: 1 / 5;
    padding-left: 10px;
  }

  section > .bloc .boxcentre { grid-column: 1 / 5; }
}

@media (max-width: 600px) {
  .rowimgredu {
    padding: 0;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5px;
  }
  .rowimgredu li {
    height: 100%;
    padding: 10px;
  }
  section > .bloc .boxesquerra {
    padding: 5px;
    padding-right: 0px;
  }
}

@media (max-width: 480px) {
  body > main {
    padding: 5px;
  }
  body > main section {
    padding: 0;
  }
  section > .bloc .boxcentre ul li {
    margin: 5px 2%;
    width: 45%;
    height: 25vw;
  }
  section > .bloc .boxcentre .imgredu {
    max-width: 40vw;
    height: 18vw;
  }
}
@media (max-width: 320px) {
  body > main {
    padding: 2px;
    
  }
}

/* Animación */
.sombra-imganim1{
  background-color: rgba(0, 0, 0, 0.808);
  border-radius: 15px;
}

.clip-imganim1 { animation: circle 15s infinite; }

@keyframes circle {
  0% { clip-path: circle(100%); }
  10% { clip-path: circle(75%); }
  20% { clip-path: circle(15% at 23% 70%); }
  40% { clip-path: circle(17% at 33% 30%); }
  60% { clip-path: circle(20% at 44% 65%); }
  80% { clip-path: circle(18% at 58% 60%); }
  90% { clip-path: circle(100%); }
  100% { clip-path: circle(100%); }
}

.anipres1 {
  align-items: center;
  margin: 10px auto;
  width: 300px;
  animation: animationbc 10s infinite;
  border-radius: 10px;
}
@keyframes animationbc {
  0.0% {
    background-color: rgba(255, 136, 0, 0.479);
  }
  25.0% {
    background-color: rgba(68, 0, 255, 0.548);
  }
  50.0% {
    background-color: rgba(255, 0, 0, 0.452);
  }
  75.0% {
    background-color: rgba(0, 255, 42, 0.452);
  }
  100.0% {
    background-color: rgba(255, 136, 0, 0.479);
  }
}

.anipres2 img {
  width: auto;
  height: 150px;
  align-items: center;
  margin: auto;
}

.anipres3 img {
  width: auto;
  height: 150px;
  align-items: center;
  margin: auto;
}

.anipres1 cite {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 1.1em;
  font-size: 0.7em;
}

/* Imagen ampliada Javascript*/

.amplia.accion {
  display: inline-block;
  position: fixed;
  margin-right: 10%;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
}

.amplia.accion::after {
  top: 0;
  left: 0;
  margin: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.658);
  z-index: 3;
}

.accion > .imgdreta,
.accion > .imgenlace {
  padding: 0;
  height: auto;
  max-height: 90vh;
  min-height: auto;
  width: 100%;
  max-width: 80vw;
  min-width: auto;
  margin: 30px;
  object-fit: contain;
  align-items: center;
  z-index: 1;
  background-color: rgba(238, 176, 132, 0.411);
  animation: none;
  z-index: 4;
}

.accion cite.textencima a {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.726);
  color: white;
  position: absolute;
  top: 90%;
  left: 20%;
  z-index: 5;
}
